<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">
<mapper namespace = "com.tourService.mapper.AccommodationMapper">
    <insert id = "insertAccommodationInfo">
        INSERT INTO accommodation (addr1, areacode, cat1, cat2, cat3, contentid, contenttypeid, createdtime, mapx, mapy, mlevel, modifiedtime, readcount, sigungucode, tel, title, firstimage, firstimage2, addr2, hanok, benikia, goodStay)
        VALUES(#{addr1}, #{areacode}, #{cat1}, #{cat2}, #{cat3}, #{contentid}, #{contenttypeid}, #{createdtime}, #{mapx}, #{mapy}, #{mlevel}, #{modifiedtime}, #{readcount}, #{sigungucode}, #{tel}, #{title}, #{firstimage}, #{firstimage2}, #{addr2}, #{hanok}, #{benikia}, #{goodStay});
    </insert>
    <select id = "selectAccommodation" resultType = "com.tourService.vo.AccommodationVO">
        <if test = 'type != null'>
            SELECT * from accommodation where title like #{type} and addr1 like #{region} ORDER by modifiedtime desc;
        </if>
        <if test = 'type == null'>
            select * from accommodation where addr1 like #{region} order BY modifiedtime;
        </if>
    </select>
</mapper>