<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">
<mapper namespace = "com.tourService.mapper.CafeAndRestaurantMapper">
    <insert id = "insertCafeAndRestaurantInfo">
        INSERT INTO CafeAndRestaurant (areaCode, areaNm, baseYm, dtlAddrNm, itsBroNm, rk, signguCode, signguNm, totlYn)
        VALUES(#{areaCode}, #{areaNm}, #{baseYm}, #{dtlAddrNm}, #{itsBroNm}, #{rk}, #{signguCode}, #{signguNm}, #{totlYn});
    </insert>
    <select id = "selectCafeAndRestaurantInfo" resultType = "com.tourService.vo.CafeAndRestaurantVO">
        SELECT * FROM CafeAndRestaurant;
    </select>
</mapper>